---
import BentoItem from "./BentoItem.astro";
import { getI18N } from "../i18n/index.ts";

const { currentLocale } = Astro;

const i18n = getI18N({ currentLocale });
---

<section
  class={`w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto p-6 md:p-12 lg:p-20
  `}
>
  <BentoItem
    class="col-span-10 lg:col-span-4"
    title={i18n.BENTO_TITLE_ANDORRA}
    subtitle={i18n.BENTO_SUBTITLE_ANDORRA}
  >
    <div
      slot="image"
      class="absolute top-0 left-0
      -z-10
      bg-center bg-no-repeat bg-cover
      bg-blue-950
      ease-in-out opacity-90 bg-blend-luminosity
      bottom-0 object-cover w-full transition-scale duration-1000 h-full group-hover:scale-110"
      style="background-image:url('/mountain.png')"
    >
    </div>
    <p slot="content" set:html={i18n.BENTO_TEXT_ANDORRA} />
  </BentoItem>
  <BentoItem
    class="col-span-10 lg:col-span-6"
    title={i18n.BENTO_TITLE_GALA}
    subtitle={i18n.BENTO_SUBTITLE_GALA}
  >
    <div
      slot="image"
      class="absolute top-0 left-0
      -z-10
      bg-center bg-no-repeat bg-cover
      bg-blue-600
      ease-in-out opacity-90 bg-blend-luminosity
      bottom-0 object-cover w-full transition-scale duration-1000 h-full group-hover:scale-110"
      style="background-image:url('/gref.png')"
    >
    </div>
    <p set:html={i18n.BENTO_TEXT_GALA} />
  </BentoItem>

  <BentoItem
    class="col-span-10 lg:col-span-6"
    title={i18n.BENTO_TITLE_RUG}
    subtitle={i18n.BENTO_SUBTITLE_RUG}
  >
    <div
      slot="image"
      class="absolute top-0 left-0
      -z-10
      bg-center bg-no-repeat bg-cover
      bg-blue-600
      ease-in-out opacity-90 bg-blend-luminosity
      bottom-0 object-cover w-full transition-scale duration-1000 h-full group-hover:scale-110"
      style="background-image:url('/pistas.png')"
    >
    </div>
    <div slot="content">
      <p set:html={i18n.BENTO_TEXT_RUG} /><div class="relative right-0 w-full">
      </div>
    </div>
  </BentoItem>
  <BentoItem class="col-span-10 lg:col-span-4" title={i18n.BENTO_TITLE_REDDIT}>
    <div
      slot="image"
      class="absolute top-0 left-0
      -z-10
      bg-center bg-no-repeat bg-cover
      bg-blue-950
      ease-in-out opacity-90 bg-blend-luminosity
      bottom-0 object-cover w-full transition-scale duration-1000 h-full group-hover:scale-110"
      style="background-image:url('/laptop.png')"
    >
    </div>
    <div slot="content">
      <p set:html={i18n.BENTO_TEXT_REDDIT} /><div
        class="relative right-0 w-full"
      >
        <button
          class="w-[100%] transition motion-reduce:transition-none motion-reduce:hover:transform-none
        p-3 rounded-lg border border-red-50 m-auto cursor-pointer hover:text-blue-500"
          >{i18n.JOIN_TITLE}</button
        >
      </div>
    </div>
  </BentoItem>
</section>
